<style>
h3 {
    clear: both;
}
img {
    border:  1px solid #CDCDCD;
}
div.content {
    width: 600px;
    margin: 0 auto 0 auto;
}
div.thumb {
    float: left;
    margin: 0 15px 20px 0;
}
</style>


<div class="content">

    <h3>Rasterize Twig extension demo</h3>
    <p>The first time the script loads the images take some seconds to load, then the page reloads very fast because the images are cached.</p>
    <p>These are the websites of some of the technologies used here:</p>

    {% set urls = [
        'http://php.net', 'http://symfony.com', 'http://phantomjs.org', 'http://twig.sensiolabs.org/',
    ] %}
    {% for url in urls %}
    <div class="thumb"><img src="{{ url | imagine_filter('liip_rasterize') }}" /></div>
    {% endfor %}
</div>


